.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:not(:first-child) {
  margin-top: -1px;
}

.cell:not(:first-child) {
  margin-left: -1px;
}
